<!DOCTYPE html>
<html>
<head>
    <title>Vanessa Anderson | Software Engineer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Montserrat|Nunito|Merriweather:300,400|Ubuntu" rel="stylesheet">
</head>
<body>
<script src="../javascripts/jquery-3.2.1.min.js"></script>
<script src="../javascripts/popper.min.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<div class="topnav">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="#">TechTack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Ideas?</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Login</button>
            <button class="btn btn-info my-2 my-sm-0" type="submit">Sign Up</button>
        </form>
    </div>
</nav>
</div>
<main role="main" class ="container">
    {{{body}}}
</main>

</body>

</html>
