<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="search-box">
                    <div class="text-center">
                        <span class="hint">What would you like to learn today?</span>
                    </div>
                    <div class="col-md-12">
                        <div class="row search-box-pad">
                            <div class="input-group">
                                <!--div class="input-group-btn">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Category
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">All</a>
                                        <a class="dropdown-item" href="#">Langauages</a>
                                        <a class="dropdown-item" href="#">Frameworks</a>
                                        <a class="dropdown-item" href="#">Operating Systems</a>
                                    </div>
                                </div-->
                                <input type="text" id="ts" class="inputbg" placeholder="start typing...">

                                <span class="input-group-btn">
                                     <button class="btn btn-transp" type="button" id="addterm" data-toggle="tooltip" data-placement="top" title="add multiple search terms">
                                         <a class="addterm" href="">
                                            <span class="fa-stack">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-plus fa-stack-1x"></i>
                                            </span>
                                         </a>
                                     </button>
                                </span>
                                <span class="input-group-btn">
                                     <button class="btn btn-secondary" type="button" id="go">Search</button>
                                </span>
                            </div>
                        </div>
                        <div class="row search-box-pad">
                            <div id="search-list"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../javascripts/search.js"></script>
<script src="../javascripts/typeahead.bundle.js"></script>