<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="search-box">
                    <div class="text-center">
                        <span class="hint">What would you like to learn today?</span>
                    </div>
                    <div class="col-md-9 search-input">
                        <form class="form-inline">
                            <input type="text" id="ts" class="inputbg" placeholder="start typing...">
                            <select class="custom-select" id="inlineFormCustomSelectPref">
                                <option selected>All</option>
                                <option value="1">Langauages</option>
                                <option value="2">Frameworks</option>
                                <option value="3">Operating Systems</option>
                            </select>
                            <a href="#addterm">
                                <span class="fa-stack">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-plus fa-stack-1x"></i>
                                </span>
                            </a>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../javascripts/search.js"></script>
<script src="../javascripts/typeahead.bundle.js"></script>