body {
  padding: 40px 0px;
  background: url(../images/techtakbg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topnav {
  background : -moz-linear-gradient(50% 0% -90deg,rgba(255, 255, 255, 1) 0%,rgba(0, 0, 0, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(0, 0, 0, 1) ));
  background : -o-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#000000' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
  opacity : 0.9;
  filter: alpha(opacity=90) progid:DXImageTransform.Microsoft.Alpha(opacity=90) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#000000' , GradientType=0);
}

.search-box{
  padding: 40px 0px;
  background: url(../images/schbg.png) no-repeat center center;
  background-size:100% auto;
  top: 40%;
  position: relative;
}

.hint{
  font-family: 'Merriweather', serif;
  font-weight: 300;
  color: white;
}

input#ts.tt-input
{
  background:url(../images/inputbg.png) no-repeat center center;
  padding-left:4px;
  font-size:20px; resize:none;
  background-size:100% auto !important;
  font-family: "Ubuntu";
  color: #00476A;
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.5;
  height: 100%;
}
.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }
.twitter-typeahead{
  min-height: 50px;
}
.tt-dropdown-menu{
   background-color: rgba(55, 120, 160, 0.8);
   color: white;
}

.search-input{
  padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.tt-suggestion{
  font-family : Myriad Pro;
  font-size : 17px;
  line-height : 34px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
  opacity : 0.8;
  filter: alpha(opacity=80) progid:DXImageTransform.Microsoft.Alpha(opacity=80) ;
}

.btn{
   background-color: #4E698C;
   border-radius: 0;
   color: white;
  border: 0px;
  font-family: "Montserrat", serif;
  font-variant-caps: all-petite-caps;
  cursor: pointer;
}
.btn-transp{
  background-color: transparent;
}
.form-control{
  border: 0px;
}

.fa-circle{
  color:  #ABB6BA;
}
.fa-plus{
  color:white;
}
.fa-circle:hover{
  color: #4E698C;
}

.nav-link{

}